<%- include('./layouts/header'); -%>

    <main class="about container jumbotron text-center">
        <img src="img/about.png" width="50%" alt="about-logo" />
        <div class="about-text">
            <h3>About App</h3>
            <p>Sign Up App</p>
            <em>
                <li>NodeJS</li>
                <li>ExpressJS</li>
                <li>REST API</li>
                <li>MailChimp API</li>
                <li>EJS</li>
                <li>Bootstrap 5</li>
                <li>MVC concept</li>
            </em>
            <br />
            <h3>Developer</h3>
           <a href="https://github.com/wildijunior" class="btn btn-success">Wildi Jr</a>
        </div>
    </main>

    <%- include('./layouts/footer'); -%>