<%- include('./layouts/header'); -%>

    <main class="container bg-warning text-center">
        <hr>
        <h1>OOPS. Please try again.</h1>
        <hr>
        <img src="/img/404.jpg" width="50%" />
        <hr>
        <a href="/" class="btn btn-danger">Try Again</a>
        <hr>

    </main>

    <%- include('./layouts/footer'); -%>