<%- include('./layouts/header'); -%>

    <main class="container jumbotron text-center">
        <hr>
        <img src="https://img.icons8.com/clouds/100/000000/code.png"/>
        <h2>You signed up for amazing news.<br /> Soon check your email for news</h2>
        <hr>

    </main>

    <%- include('./layouts/footer'); -%>